## Map

The `map()` function can take multiple iterables and return a map object that can be converted to other iterables.

```python
map(function_to_perform, *iterables)
```

In [ ]:
 '''
 if height < 150:
        return "S"
    elif height >= 150 and height < 180:
        return "M"
    elif height > 180:
        return "L"
'''

In [15]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [16]:
sizes=list(map(lambda x:"S" if x<150 else "M" if x>=150 and x<180 else "L", heights))

In [6]:
sizes

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [7]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

In [8]:
C = list(map(lambda x, y: x==y, A, B))
C

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:
#List of the squares of each number
map_result=list(map(lambda x:x**2,integers))

## Filter

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/064/original/Screenshot_2022-10-11_at_11.14.51_AM.png?1665467068">

In [18]:
a=[0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
f = list(filter(lambda x: x%2 == 0, a))
f

[0, 2, 4, 6, 8, 10]

In [20]:
student_data=[('S ROY', 1), ('B BOSE', 3), ('N KAR', 2), ('C DUTTA', 1), ('G GHOSH', 1)]
Grade_Second_Hight = list(filter(lambda x:x[1]==2,student_data))
Grade_Second_Hight

[('N KAR', 2)]

In [41]:
my_list=["php", "w3r", "python", "aaa", "java"]

In [42]:
palindromes = list(filter(lambda word: word == word[::-1], my_list))

In [43]:
palindromes

['php', 'aaa']

In [ ]:

#List with only those names that have less than or equal to seven letters.
filter_result=list(filter(lambda x:len(x)<=7,names))
#The product of elements of list numbers.
reduce_result=reduce(lambda x,y:x*y,numbers)

In [51]:
ids = ["SAM@gmail.com", "Ram@gmail.com", "sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name = "sam"
result = list(filter(lambda x :name in str(x).lower() , ids))
print(result)

['SAM@gmail.com', 'sam@gmail.com', 'samJohnson@iit.com', 'SAM@harvard.com']

## Zip

In [40]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names,row)) for row in db_rows]
db

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'},
 {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'},
 {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [9]:
Students =['S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH']
Grades = [1, 3 ,2, 1 ,1]

In [11]:
student_data=list(zip(Students,Grades))

In [13]:
student_data

[('S ROY', 1), ('B BOSE', 3), ('N KAR', 2), ('C DUTTA', 1), ('G GHOSH', 1)]

In [12]:
student_dat_dict=dict(zip(Students,Grades))

In [14]:
student_dat_dict

{'S ROY': 1, 'B BOSE': 3, 'N KAR': 2, 'C DUTTA': 1, 'G GHOSH': 1}

In [22]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n"]

In [23]:
result = list(zip(c, b,a))
result

[('x', 'a', 1), ('y', 'b', 2), ('z', 'c', 3)]

In [36]:
Day={"1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th" , "29th", "30th", "31th"}
Month={"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"}
map_date=dict(zip(Day,Month))

In [37]:
map_date

{'4th': 'Dec',
 '7th': 'Jun',
 '3rd': 'Nov',
 '8th': 'Feb',
 '5th': 'Jan',
 '30th': 'Oct',
 '6th': 'Jul',
 '31th': 'May',
 '29th': 'Sep',
 '9th': 'Mar',
 '1st': 'Aug',
 '2nd': 'Apr'}

## Reduce

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/065/original/Screenshot_2022-10-11_at_11.16.30_AM.png?1665467168">

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/066/original/Screenshot_2022-10-11_at_11.16.52_AM.png?1665467200">

In [24]:
# This lines brings the reduce function into current code -

from functools import reduce

In [25]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
print(reduce(lambda x,y: x*y, a) == reduce(lambda x,y: x*y, b))

True

#### Gives the element with minimum value from a given list of elements.

In [26]:
max_element = reduce(lambda x, y: y if x>y else x, a)
max_element

1

#### Gives the element with maximum value from a given list of elements.

In [27]:
max_element = reduce(lambda x, y: x if x>y else y, a)
max_element

10

In [30]:
a = list(range(1,11))

reduce(lambda x, y: x + y, a, 100)#reduce expected at most 3 arguments, got 4

155

# Full Revise

In [38]:
birds = ['spoonbills',  'plovers',  'plovers',  'plovers',  'plovers',  'Cranes',  'plovers',  'plovers',  'Cranes',  'spoonbills']
age = [5.5, 6.0, 3.5, 1.5, 3.0, 4.0, 3.5, 2.0, 5.5, 6.0]
list_birds_age=list(zip(birds,age))
list_birds_age=list(filter(list_birds_age.sort(key=lambda x:x[1],reverse=False),list_birds_age))
list_birds_age_Crane=list(filter(lambda x:x[0]=='Cranes',list_birds_age))
result=[]
for i in list_birds_age_Crane:
  result.append(i[1])
result

[4.0, 5.5]

In [44]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2

In [49]:
ls21,ls22,ls23

([9, 8, 7], [6, 5, 4], [3, 2, 1])

In [45]:
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [50]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [52]:
x='cccc b dd aaa'
x=x.split()
x.sort(key=lambda x:len(x))
x

['b', 'dd', 'aaa', 'cccc']